﻿@model IEnumerable<Xynthesis.Modelo.xy_reportes>

@{
    ViewBag.Title = "Reportes Momentaneos";
}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="~/Content/Xynthesis.css" rel="stylesheet" />
<script src="~/fonts/select/js/bootstrap-select.min.js"></script>
<script src="~/fonts/select/js/i18n/defaults-*.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/fonts/select/js/i18n/defaults-*.min.js"></script>
<link rel="stylesheet" href="~/Content/selectorfiltro.css">

<br />
<div class="container">
    <div class="text-center" style="border-color:#C2C2C2; border-style: solid; border-top-width:1px; border-bottom-width:1px; border-left-width:1px; border-right-width:1px;  border-radius:10px; padding-left: 0px; padding-right: 0px; padding-top:0px;padding-bottom:0px;">
        <h2><strong>Reportes Momentaneos</strong></h2>
    </div>
    <br />

    @using (Html.BeginForm("ReportesMomentaneosprint", "ReportesMomento"))
    {
        <div style="border-color:#C2C2C2; border-style: solid; border-top-width:1px; border-bottom-width:1px; border-left-width:1px; border-right-width:1px;  border-radius:10px; padding-left: 20px; padding-right: 0px;">
            <div class="row">
                <div class="row text-left col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="col-md-4">
                        <h3><strong>Seleccionar Reportes : </strong></h3>
                    </div>
                    <div class="col-md-8 form-inline text-right">
                        <h3>
                            @Html.TextBox("FechaInicial", null, new { @class = "form-control date-picker", @id="fecIni", @placeholder = "Fecha inicial", style = "width:110px" })
                            @Html.TextBox("FechaFinal", null, new { @class = "form-control date-picker", @id = "fecFin", @placeholder = "Fecha final", style = "width:110px" })                            
                        </h3>
                    </div>
                </div>
                <div>
                    <textarea name="iden" id="iden" title="" placeholder="" class="hidden"></textarea>
                    <div class="well" style="max-height: 300px;overflow: auto; max-width:98%; border-radius:5px; padding-left:15px;padding-right:15px; padding-bottom:15px;padding-top:15px;">
                        <ul id="sampleList" class="list-group checked-list-box">
                            @foreach (var item in Model)
                            {
                                <li id=@item.ReporteId name=@item.ReporteId class="list-group-item">@item.Nombre</li>
                            }
                        </ul>
                    </div>
                    <div class="text-center" style="padding-bottom:15px;">

                        <input type="radio" name="formato" value="pdf" id="optionpdf"/>
                        <label>PDF</label>
                        <input type="radio" name="formato" value="xls" id="optionxls" />
                        <label>EXCEL</label>

                    </div>
                </div>
            </div>
        </div><br />
        <div class="text-center" style="padding-bottom:30px;">
            <button type="submit" class="btn btn-success col-xs-12" id="enviar" >DESCARGAR REPORTES</button>
        </div> <br />
    }
</div>
<script>
    var cad = [];
    $(function () {
        $('.list-group.checked-list-box .list-group-item').each(function () {

            // Settings
            var $widget = $(this),
                $checkbox = $('<input type="checkbox" class="hidden" />'),
                color = ($widget.data('color') ? $widget.data('color') : "primary"),
                style = ($widget.data('style') == "button" ? "btn-" : "list-group-item-"),
                settings = {
                    on: {
                        icon: 'glyphicon glyphicon-check'
                    },
                    off: {
                        icon: 'glyphicon glyphicon-unchecked'
                    }
                };

            $widget.css('cursor', 'pointer')
            $widget.append($checkbox);

            // Event Handlers
            $widget.on('click', function () {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
                $checkbox.triggerHandler('change');
                updateDisplay();
            });
            $checkbox.on('change', function () {
                updateDisplay();
            });


            // Actions
            function updateDisplay() {
                var isChecked = $checkbox.is(':checked');

                // Set the button's state
                $widget.data('state', (isChecked) ? "on" : "off");

                // Set the button's icon
                $widget.find('.state-icon')
                    .removeClass()
                    .addClass('state-icon ' + settings[$widget.data('state')].icon);

                // Update the button's color
                if (isChecked) {
                    $widget.addClass(style + color + ' active');
                } else {
                    $widget.removeClass(style + color + ' active');
                }
            }

            // Initialization
            function init() {

                if ($widget.data('checked') == true) {
                    $checkbox.prop('checked', !$checkbox.is(':checked'));
                }

                updateDisplay();

                // Inject the icon if applicable
                if ($widget.find('.state-icon').length == 0) {
                    $widget.prepend('<span class="state-icon ' + settings[$widget.data('state')].icon + '"></span>');
                }
            }
            init();
        });

        $('#enviar').on('click', function () {
            var radVal = $("input[type=radio][name=formato]:checked").val();
            $('#sampleList li').each(function () {
                if ($(this).attr('class') == "list-group-item list-group-item-primary active")
                {
                    cad = cad + $(this).attr('id') + '|';
                }
            });
            var idd = cad;
            alert(idd);
            $.ajax(
           {
               type: "POST", //HTTP POST Method
               url: '@Url.Action("ReportesMomentaneosprint", "ReportesMomento")', // Controller/View
               data: { //Passing data
                   idd: idd,
                   formato: radVal,
                   FechaInicial: $("#fecIni").val(),
                   FechaFinal: $("#fecFin").val()
               }

           });
        });

    });

    $(function () {
        $('.date-picker').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: false,
            dateFormat: 'yy-mm-dd',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShorth: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa']
        });
    })
</script>
