﻿ @model IEnumerable<Xynthesis.Modelo.xy_reportes>


@{
    ViewBag.Title = "RepProgramado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="~/Content/Xynthesis.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="~/Scripts/NotacionDecimal.js"></script>
@{ 
    ViewBag.plantilla = "Mensaje plantilla";
    var mod = (List<Xynthesis.Modelo.xy_configuracionrptprogramado>)ViewData["confProgr"];
}

<div class="container">
    <div class="text-center">
        <h1><strong>Configuración de reportes programados</strong></h1>
    </div><br /><br />


    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                <label for="NomConfi" class="control-label pull-right">NOMBRE DE CONFIGURACIÓN (*):</label>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-8 form-group">
                @Html.TextBox("NombreConfiguracion", null, new { @class = "form-control", style = "width: 100%; max-width:77%;", @maxlength = "45", @id = "NomConfi", @placeholder = "NOMBRE DE CONFIGURACION", @title = "NOMBRE DE CONFIGURACION" })
            </div>
        </div>
        <div class="form-group" id="lblAlerta" style="display:none">
            <label class="control-label col-xs-12 col-sm-12 col-md-3 col-lg-3"></label>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-8 pull-right">
                <label style="color:#E81F2E;">(*) El campo es requerido</label>
            </div>
        </div>
        <br />

        <div style="border-color:#C2C2C2; border-style: solid; border-top-width:1px; border-bottom-width:1px; border-left-width:1px; border-right-width:1px;  border-radius:10px; padding-left: 0px; padding-right: 0px;">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 form-group">
                    <div class="text-left">
                        <h2>Reportes a programar :</h2>
                    </div><br />
                    <textarea name="iden" id="iden" title="" placeholder="" class="hidden"></textarea>
                    <div class="well" style="max-height: 300px;overflow: auto; border-radius:5px;">
                        <ul id="sampleList" class="list-group checked-list-box">
                            @foreach (var item in Model)
                            {
                                <li id=@item.ReporteId name=@item.ReporteId class="list-group-item">@item.Nombre</li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row text-center">
                <label>PDF</label>
                @Html.RadioButton("formato", "pdf", new { @id = "optionpdf" })
                <label>EXCEL</label>
                @Html.RadioButton("formato", "xls", new { @id = "optionxls" })
            </div>            
            <br />
        </div>
        <div class="form-group" id="lblAlerta5" style="display:none">
            <label class="control-label col-xs-4 col-sm-4 col-md-4 col-lg-4"></label>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-8 pull-right">
                <label style="color:#E81F2E;">(*) Debe seleccionar un formato</label>
            </div>
        </div>
        <br />
        <section style="height:810px; width:100%;">

            <!--Inicio de programacion-->
            <div style="border-color:#C2C2C2; border-style: solid; border-top-width:1px; border-bottom-width:1px; border-left-width:1px; border-right-width:1px; border-radius:10px; padding-left: 0; padding-right: 0;">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-11 text-left">
                        <h2>Programación :</h2>
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class=" col-lg-2 form-group">
                        <label class="control-label col-xs-12 col-sm-12 col-md-12 pull-right">FRECUENCIA :</label>
                    </div>
                    <div class="col-lg-2 form-group">
                        @Html.Action("MostrarFrecuencia")
                    </div>
                    <div class="col-lg-3 form-group">
                        <label class="control-label col-xs-12 col-sm-12 col-md-12 pull-right">HORA DE EJECUCIÓN :</label>
                    </div>
                    <div class="col-lg-2 form-group">
                        @Html.TextBox("horaEjec", null, new { @class = "form-control", @id = "hora", @type = "time", @Value = "13:14", @required = true, @title = "HORA DE EJECUCION" })
                    </div>
                </div>
            </div><br />
            <!--Fin de programacion-->
            <!--Inicio de Correo-->
            <div style="border-color:#C2C2C2; border-style: solid; border-top-width:1px; border-bottom-width:1px; border-left-width:1px; border-right-width:1px; border-radius:10px; padding-left: 0px; padding-right: 0px;">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-11">
                        <div class="text-left">
                            <h2>Correo :</h2>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="hidden-xs hidden-sm hidden-md col-lg-3 col-lg-2">
                        <label class="control-label pull-right">EMAIL :</label>
                    </div>

                    <div class="col-lg-9 form-group">
                        @Html.TextBox("email", null, new { @class = "form-control", style = "width: 100%; max-width:77%;", @maxlength = "500",  @id = "emailform", @type = "Email",  @title = "CORREO ELECTRONICO", @placeholder = "EMAIL" })
                    </div>
                </div>

                <div class="form-group" id="lblAlerta2" style="display:none">
                    <label class="control-label col-md-3 col-lg-3"></label>
                    <div class="col-lg-9 pull-right">
                        <label style="color:#E81F2E;">(*) El campo es requerido</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="hidden-xs hidden-sm hidden-md col-lg-3 col-lg-2">
                        <label class="control-label pull-right">CC... :</label>
                    </div>

                    <div class="col-lg-9 form-group">
                        @Html.TextBox("copiaCorreo", null, new { @class = "form-control", style = "width: 100%; max-width:77%;", @maxlength = "500", @id = "cc", @type = "Email", @title = "COPIA", @placeholder = "CC..." })
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="hidden-xs hidden-sm hidden-md col-lg-3 col-lg-2">
                        <label class="control-label pull-right">ASUNTO :</label>
                    </div>

                    <div class="col-lg-9 form-group">
                        @Html.TextBox("asunto", null, new { @class = "form-control", style = "width: 100%; max-width:77%;",  @id = "asunto", @maxlength = "150", @title = "ASUNTO", @placeholder = "ASUNTO" })
                    </div>  
                </div>

                <div class="form-group" id="lblAlerta3" style="display:none">
                    <label class="control-label col-md-3 col-lg-3"></label>
                    <div class="col-lg-9 pull-right">
                        <label style="color:#E81F2E;">(*) El campo es requerido</label>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="hidden-xs hidden-sm hidden-md col-lg-3 col-lg-2 form-group">
                        <label class="control-label pull-right" style="">MENSAJE :</label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="form-group col-lg-9">
                        @Html.TextArea("txtMensaje", null, new {  @class = "form-control", style = "width: 100%; max-width:77%;", @title = "ESCRIBA UN MENSAJE", @placeholder = "ESCRIBA EL MENSAJE",  @maxlength = "700", multiple = "", @rows = "6", @id = "mensaje"})
                    </div>
                </div>
                <div class="form-group" id="lblAlerta4" style="display:none">
                    <label class="control-label col-md-3 col-lg-3"></label>
                    <div class="col-lg-9 pull-right">
                        <label style="color:#E81F2E;">(*) El campo es requerido</label>
                    </div>
                </div>
                <br />
            </div>
            <br />
            <!--Fin Correo-->
            <!--Inicio de botones-->
            <div class="row form-group">
                <div class="col-lg-3"></div>              
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    @Html.ActionLink("Regresar", "ListaRepProgramado", "ReporteProgramado", new { @class = "btn btn-success col-lg-12" })
                </div>&nbsp;
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <input type="submit" name="get-checked-data" id="enviar" value="Guardar" class="btn btn-success btn-block" />
                    <span id="spanResults"></span>
                </div> 
                <div class="col-lg-3"></div>
            </div>
            <!--Fin de botones-->
            <br />

        </section>

       

    }

</div>


@section Scripts {
    @Scripts.Render("~/bundles/respond.js")
}

<script type="text/javascript">
    document.getElementById("emailform").multiple = true;

    var cad = [];
    $(function () {
        $('.list-group.checked-list-box .list-group-item').each(function () {
            var $widget = $(this),
                $checkbox = $('<input type="checkbox" class="hidden" />'),
                color = ($widget.data('color') ? $widget.data('color') : "primary"),
                style = ($widget.data('style') == "button" ? "btn-" : "list-group-item-"),
                settings = {
                    on: {
                        icon: 'glyphicon glyphicon-check'
                    },
                    off: {
                        icon: 'glyphicon glyphicon-unchecked'
                    }
                };

            $widget.css('cursor', 'pointer')
            $widget.append($checkbox);

            // Event Handlers
            $widget.on('click', function () {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
                $checkbox.triggerHandler('change');
                updateDisplay();
            });
            $checkbox.on('change', function () {
                updateDisplay();
            });


            // Actions
            function updateDisplay() {
                var isChecked = $checkbox.is(':checked');

                // Set the button's state
                $widget.data('state', (isChecked) ? "on" : "off");

                // Set the button's icon
                $widget.find('.state-icon')
                    .removeClass()
                    .addClass('state-icon ' + settings[$widget.data('state')].icon);

                // Update the button's color
                if (isChecked) {
                    $widget.addClass(style + color);
                } else {
                    $widget.removeClass(style + color);
                }
            }

            // Initialization
            function init() {

                if ($widget.data('checked') == true) {
                    $checkbox.prop('checked', !$checkbox.is(':checked'));
                }

                updateDisplay();

                // Inject the icon if applicable
                if ($widget.find('.state-icon').length == 0) {
                    $widget.prepend('<span class="state-icon ' + settings[$widget.data('state')].icon + '"></span>');
                }
            }
            init();
        });

        $('#get-checked-data').on('click', function (event) {
            event.preventDefault();
            var checkedItems = {}, counter = 0;
            $("#check-list-box ").each(function (idx, li) {
                checkedItems[counter] = $(li).text();
                counter++;
            });
            $('#display-json').html(JSON.stringify(checkedItems, null, '\t'));
        });
    });

    $('#enviar').click(function () {

        $('#sampleList  li').each(function () {
             if ( $(this).attr('class') == "list-group-item list-group-item-primary")
            {
                 cad = cad + $(this).attr('id') + '|';
            }
        });
        var idd = document.getElementById("iden").innerHTML = cad;
        $.ajax({
            type: 'POST',
            url: ' /ReporteProgramado/RepProgramado',
            success: function (data) {
            },
            error: function (e) {
            }
        });
    });


    document.getElementById("enviar").onclick = function () {
        var nom = document.getElementById("NomConfi").value;
        var corr = document.getElementById("emailform").value;
        var asunt = document.getElementById("asunto").value;
        var men = document.getElementById("mensaje").value;
        var pdf = document.getElementById("optionpdf").checked;
        var xls = document.getElementById("optionxls").checked;
    
        if (nom == "") {
            document.getElementById("lblAlerta").style.display = "block"
            return false;
        }  else if (pdf == false && xls == false) {
            document.getElementById("lblAlerta5").style.display = "block"
            return false;
        }  else if (pdf == false && xls == false) {
            document.getElementById("lblAlerta5").style.display = "block"
            return false;

        } else if(corr == "") {
            document.getElementById("lblAlerta2").style.display = "block"
            return false;
        } else if (asunt == "") {
            document.getElementById("lblAlerta3").style.display = "block"
            return false;
        } else if (men == "") {
            document.getElementById("lblAlerta4").style.display = "block"
            return false;
        }else
        {
            document.getElementById("lblAlerta").style.display = "none"
            document.getElementById("lblAlerta2").style.display = "none"
            document.getElementById("lblAlerta3").style.display = "none"
            document.getElementById("lblAlerta4").style.display = "none"
            document.getElementById("lblAlerta5").style.display = "none"            
            return true;
        }

    }

   
</script>