﻿@model Xynthesis.Modelo.xy_subscriber

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XYNTHESIS</title>
    <link rel='stylesheet prefetch' href='~/css/font-awesome.min.css'>
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="shortcut icon" type="image/ico" href="~/favicon.ico">
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/ValidacionGeneral.js"></script>
</head>
<body style="background-image:url(../../Content/img/slider-3.jpg)" >

    <div class="login-form container">
        @*<h1>Xynthesis</h1>*@
        <img src="~/Content/images/XYNTHESIS.png" style="height:7%; width:100%;"/>
        @using (Html.BeginForm("Login","Acceso",FormMethod.Post,new { @id= "formlog" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "")
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nom_DomainUser, new { htmlAttributes = new { @class = "form-control", @placeholder = "USUARIO", @id = "usuario", @required=true , @maxlength ="20", onkeypress = "return validar(event)", title = "INGRESE SU USUARIO"} })
                    @Html.ValidationMessageFor(model => model.Nom_DomainUser, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group log-status">
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Str_Password, new { @class = "form-control", @placeholder = "CONTRASEÑA", @id = "Password", @required = true , @maxlength = "100", onkeypress = "return validar(event)", title = "INGRESE SU CONTRASEÑA" })
                    @Html.ValidationMessageFor(model => model.Str_Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="modal-dialog modal-lg">
                <div class="boton alert-danger col-md-7">
                    @ViewBag.Incorrecto
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="INGRESAR" class="log-btn" style="border-radius:10px;" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">                                        
                        <a role="button" href='@Url.Action("OlvidoClave", "Acceso")'>¿Haz olvidado tu contraseña?</a>
                </div>
            </div>
        }
    </div>

</body>
</html>

<script>
    document.getElementById('usuario').focus();
</script>



